.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	ul {
		display: flex;
	}
	li {
		list-style: none;
		&:hover {
			transition: .3s;
			transform: scale(1.05);
		}
	}
	a {
		color: #D1CB9F;
		text-decoration: none;
		padding: 10px;
	}
}
.top {
	background-image: url(../../img/tabaco-liar.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 5rem;
	gap: 2rem;
	h1 {
		@extend %estiloTitulos
	}
	p {
		color: white;
		padding: 2rem;
	}
}
.primeraSeccion {
	display: flex;
	flex-wrap: wrap;
	padding: 3rem;
	justify-content: center;
	max-width: 1200px;
}
.calidad {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 2rem;
	align-items: center;
	button {
		width: 200px;
		text-align: center;
		transition: all 0.4s;
		&:hover {
			background-color: black;
			color: white;
		}
	}
}
.formulario {
	padding: 2rem;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 20vh;
	h3 {
		font-size: 2rem;
	}
	div {
		display: flex;
		flex-direction: column;
		margin: 2rem;
	}
	input {
		height: 2.5rem;
		width: 300px;
		margin: 1rem;
	}
	input[type=submit] {
		&:hover {
			background-color: white;
			color: black;
		}
	}
}
.footer {
	text-align: center;
	padding: 5rem;
	p {
		text-align: center;
		font-size: 1rem;
		color: black;
	}
	i {
		font-size: 1rem;
		color: black;
		padding: 10px;
		transition: all 0.4s;
		&:hover {
			color: gold;
		}
	}
}

